body {
  background-color: #0D3B64;
}

.App{
  background-color: #4275A2;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input {
  background-color: #B4C1CB;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #000;
}

#to-do-form input::placeholder{
  color: rgba(250, 255, 255, 0.5);
}

#to-do-form input:focus, #to-do-form button:focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-weight: bolder;
}

